# 의존성
node_modules

# Next.js
.next
out

# 빌드
dist
*.tsbuildinfo

# Turbo
.turbo

# 환경변수
.env
.env.local
.env.*.local

# Expo
.expo

# 테스트
coverage

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.swp
*.swo
